<link rel="import" href="../view/view.html">
<link rel="import" href="../userinlineview/userinlineview.html">
<link rel="import" href="../cardview/cardview.html">

<template name="ConfigPageView">
    <div class="ConfigPageView" fit layout vertical>
        <header>
            <p class="ConfigPageView-headerText util-smallOnly">
                設定
            </p>
            <span class="util-largeOnly">
                ユーザー&nbsp;>>&nbsp;
                <UserInlineView class="ConfigPageView-userInlineView" name="userInlineView"></UserInlineView>
                &nbsp;>>&nbsp;設定
            </span>
        </header>
        <div class="ConfigPageView-mainContainer" flex layout horizontal start>
            <CardView layout vertical class="ConfigPageView-sideMenu">
                <ul class="ConfigPageView-menu">
                    メニュー
                </ul>
            </CardView>

            <CardView self-stretch flex>
                <h1 style="padding: 40px;">Configの詳細をここに</h1>
            </CardView>
        </div>
    </div>
</template>