.ProjectInlineView {
    display: inline-block;
    user-select: none;
    cursor: pointer;
    transition: 0.3s ease;
    opacity: 1;
    &.is-project-nothing {
        opacity: 0;
        &:hover {
            opacity: 0;
        }
    }
    &:hover {
        opacity: 0.5;
    }
}
.ProjectInlineView-link {
    text-decoration: none;
    color: inherit;
}
.ProjectInlineView-projectName {
    font: inherit;
    font-size: 1.2em;
    vertical-align: middle;
    line-height: inherit;
    color: #fff;
}