template {
    display: none;
}
[layout] {
    align-items: flex-stretch;
}
[layout][vertical] {
    display: flex;
    flex-direction: column;
}
[layout][horizontal] {
    display: flex;
    flex-direction: row;
}
[layout][center] {
    align-items: center;
}
[layout][start] {
    align-items: flex-start;
}
[layout][center-center] {
    justify-content: center;
    align-items: center;
}
[flex] {
    flex: 1;
}
[self-stretch] {
    align-self: stretch;
}
[fit] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
[hidden] {
    display: none;
}
html,
body {
    margin: 0;
    background: #efefef;
    transition: opacity ease-in 0.2s 0.3s;
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
}
body[unresolved] {
    opacity: 0;
    display: block;
    overflow: hidden;
    position: relative;
}