<link rel="import" href="../view/view.html">
<link rel="import" href="../userinlineview/userinlineview.html">
<link rel="import" href="../cardview/cardview.html">

<template name="ProjectCreatePageView">
    <div class="ProjectCreatePageView" fit layout vertical>
        <header>
            <p class="ProjectCreatePageView-headerText util-smallOnly">
                新規プロジェクト作成
            </p>
            <span class="util-largeOnly">
                ユーザー&nbsp;>>&nbsp;
                <UserInlineView class="ProjectCreatePageView-userInlineView" name="userInlineView"></UserInlineView>
                &nbsp;>>&nbsp;新規プロジェクト作成
            </span>
        </header>
        <div class="ProjectCreatePageView-mainContainer" flex layout horizontal start>
            <CardView self-stretch flex>
                <h1 style="padding: 40px;">Projectの詳細をここに</h1>
            </CardView>
        </div>
    </div>
</template>