@import "../function/_function.scss";

.BaseView {
	.SignInPageView,
	.SignUpPageView,
	.UserPageView,
	.ProjectPageView,
	.Error404PageView {
		display: none;

		&.is-visible {
			display: block;
		}
	}

	.ProgressBarView {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 3px;
		z-index: 65535;
	}
}
