<link rel="import" href="../view/view.html">
<link rel="import" href="../userinlineview/userinlineview.html">
<link rel="import" href="../projectinlineview/projectinlineview.html">
<link rel="import" href="../cardview/cardview.html">

<template name="ProjectPageView">
    <div class="ProjectPageView" fit layout vertical>
        <header>
            <p class="ProjectPageView-headerText util-smallOnly">
                プロジェクト
            </p>
            <span class="util-largeOnly">
                ユーザー&nbsp;>>&nbsp;
                <UserInlineView class="ProjectPageView-userInlineView" name="userInlineView"></UserInlineView>
                &nbsp;>>&nbsp;プロジェクト&nbsp;>>&nbsp;
            </span>
            <ProjectInlineView class="ProjectPageView-projectInlineView" name="projectInlineView"></ProjectInlineView>
        </header>
        <div class="ProjectPageView-mainContainer" flex layout horizontal start>
            <!-- <CardView layout vertical class="ProjectPageView-sideMenu">
                <ul class="ProjectPageView-menu">
                    メニュー
                </ul>
            </CardView> -->

            <CardView self-stretch flex>
                <h1 style="padding: 40px;">Projectの詳細をここに</h1>
            </CardView>
        </div>
    </div>
</template>