.UserInlineView {
    display: inline-block;
    user-select: none;
    cursor: pointer;
    transition: 0.3s ease;
    opacity: 1;
    &.is-user-nothing {
        opacity: 0;
        &:hover {
            opacity: 0;
        }
        .UserInlineView-icon {
            box-shadow: none;
        }
    }
    &:hover {
        opacity: 0.5;
        .UserInlineView-icon {
            
        }
    }
}
.UserInlineView-link {
    text-decoration: none;
    color: inherit;
}
.UserInlineView-icon {
    display: inline-block;
    position: relative;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    border-radius: 18px;
    vertical-align: middle;
    margin-right: 10px;
    transform: scale(0);
    &[state="load"] {
        animation: icon-load 0.4s ease-in-out;
        animation-fill-mode: forwards;
    }
}
@keyframes icon-load {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
.UserInlineView-userName {
    font: inherit;
    font-size: 1.2em;
    vertical-align: middle;
    line-height: inherit;
    color: #fff;
}