@import "../function/_function.scss";

.CommentListItemView {
	overflow: hidden;
	box-sizing: border-box;

	&.is-close {
		margin-top: -8px;
		margin-bottom: -9px;
		height: 0px;
	}
}

.CommentListItemView-header {
	font-weight: normal;
}
.CommentListItemView-created {
	color: #aaa;
	font-size: 0.8em;
}