.UserInlineView {
	display: inline-block;
	margin: 3px 5px;
}
.UserInlineView-icon {
	width: 24px;
	height: 24px;
	vertical-align: middle;
	border-radius: 50%;
}
.UserInlineView-name {
	margin-left: 8px;
	vertical-align: middle;
}